.vs/DateTimePlus.slnx/FileContentIndex
.vs/DateTimePlus.slnx/v18
DateTimePlus/bin
DateTimePlus/obj
DateTimePlus.Tests/bin
DateTimePlus.Tests/obj/Release
DateTimePlus.Tests/obj
DateTimePlus/README.md
DateTimePlus/LICENSE.txt
.vs/DateTimePlus.slnx/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation
